.root {
    -fx-font-size: .9em;
}

.browser-canvas {
   -fx-background-color: white;
}

.canvas-selection {
    -fx-fill: transparent;
    -fx-stroke: deepskyblue;
    -fx-stroke-dash-array: 3 3 3 3;
}

.canvas-hint {
    -fx-background-color: darkgray;
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-padding: 4 5 4 5;
    -fx-arc-height: 35;
    -fx-arc-width: 35;
    -fx-effect: dropshadow(three-pass-box, #999999, 2, 0, 0, 1);
}

.shape-element {
    -fx-fill: lightgrey;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.shape-element:hover {
    -fx-stroke: red;
    -fx-stroke-width: 1;
}

.shape-selection-area{
    -fx-fill: transparent;
    -fx-stroke: black;
    -fx-stroke-width: .5;
    -fx-opacity: .3;
}

.shape-selection-handle {
    -fx-fill: white;
    -fx-stroke: darkgrey;
    -fx-stroke-width: .7;
    -fx-effect: dropshadow(three-pass-box, #999999, 2, 0, 0, 1);
}

shape-selection-handle:hover {
    -fx-fill: lightblue;
}
